<div class="w-full h-full">
    <div class="flex flex-col">
        <h1 class="text-4xl font-light">Welcome to BookCharts</h1>
        <p>BookCharts is a tool that helps you visualise your book data, To use the tool, export your books from your platform of choice, and then import them here.</p>
        <p>Your data is saved in your browser only.</p>
        <p class="mb-1">Currently supported platforms: 
            <a class="underline" target="_blank" href="https://www.goodreads.com/review/import">Goodreads</a>
        </p>
    </div>
    <div class="w-full h-3/4 border-dashed border-4 border-primary rounded-xl px-6 relative mt-4" 
        (dragover)="draggedOver = true"
        (dragleave)="draggedOver = false"
        [class.draggedOver]="draggedOver">
        <div class="p-6 flex flex-col items-center justify-center text-xl h-full">
            @if(importing) {
                <ng-lottie [options]="options" width="300px" height="300px"></ng-lottie>
                <div class="mb-10">
                    <div *ngIf="importPhase === 'initial'">Importing your books...</div>
                    <div *ngIf="importPhase === 'isbns'">Fetching subjects from OpenLibrary by ISBN...</div>
                    <div *ngIf="importPhase === 'ids'">Fetching subjects from OpenLibrary by ID...</div>
                    <div *ngIf="importPhase === 'completed'">Import successful and saved in your browser! Redirecting...</div>
                </div>
            } @else {
                @if(!draggedOver) {
                    <div>
                        Press here or pull a file into this area to import your books.
                    </div>
                    <div>
                        or <a class="text-primary underline z-10 relative cursor-pointer hover:text-darkgray" (click)="onImport()">use sample csv</a>
                    </div>
                } @else if(draggedOver) {
                    Drop your file here to import your books.
                }
                <input type="file" (change)="onImport($event.target)" class="w-full h-full absolute top-0 left-0 opacity-0 cursor-pointer">
            }
        </div>
        
    </div>
</div>