<div class="my-2">
  Which authors have the highest ratings.
</div>
<div class="flex flex-row gap-5">
  <div class="pb-4">
    <span class="text-sm">Year: </span>
    <select [(ngModel)]="filterByYear" 
        class="font-bold">
        @for (year of filterOptions; track year) {
            <option [value]="year">{{ year }}</option>
        }
    </select>
  </div>
  <div class="pl-4">
    <span class="text-sm">Sort by: </span>
    <select [(ngModel)]="sortBy"
      class="font-bold">
      <option value="myRatings">My Ratings</option>
      <option value="avgRatings">Average Ratings</option>
      <option value="amountOfBooks">Amount of Books</option>
    </select>
  </div>
  <div class="pl-4">
    <span class="text-sm">Show above amount: </span>
    <input type="number"
      min="0"
      class="font-bold"
      [(ngModel)]="lowerLimit"
      placeholder="Minimum 0">
  </div>
</div>
<div class="chart-content">
  <app-generic-rating-bar-chart 
    attribute="author" 
    [lowerLimit]="lowerLimit"
    [sortBy]="sortBy"
    [filterByYear]="filterByYear"
  >
  </app-generic-rating-bar-chart>
</div>
