<div class="flex h-full overflow-hidden">
  <app-sidebar>
  </app-sidebar>
  
  <div class="container py-4 h-full router-wrapper m-auto">
    <div class="flex flex-row px-5 h-full w-full">
      <div class="w-full h-full px-4">
          @if (booksService.books().length > 0) {
            <router-outlet></router-outlet>
          } @else {
            <app-import class="h-full"></app-import>
          }
        </div>
      </div>
  
      <!-- @for (row of booksService.books.slice(0, 5); track row.bookId) {
        <img [src]="row | imgUrl" alt="">
        {{row.title}}
      } -->
  </div>
</div>