<div class="flex h-full">
  <app-sidebar>
  </app-sidebar>
  
  <div class="container m-auto mt-4">
    @if (booksService.books.length > 0) {
      <div class="flex flex-row">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
  
      <!-- @for (row of booksService.books.slice(0, 5); track row.bookId) {
        <img [src]="row | imgUrl" alt="">
        {{row.title}}
      } -->
  
    }
    @else {
      <input type="file" (change)="onImport($event.target)">
    }
  </div>
</div>
