<div>
  <h1 class="text-4xl font-light">Charts</h1>
  <div>
    <p>
      Here you can find various charts based on your book data. You can select different charts from the dropdowns.
    </p>
  </div>
  <div class="mt-6 grid gap-6 w-full grid-cols-1 md:grid-cols-2">
    @for (chart of charts; track $index) {
      <div class="chart-container">
        <div class="chart-header">
          <h2 class="cursor-pointer">
            @if ($index === 0) { {{chart1Item()?.text}} }
            @else if ($index === 1) { {{chart2Item()?.text}} }
            <fa-icon [icon]="faCaretDown"></fa-icon>
          </h2>
          <select class="absolute left-0 w-2/3 opacity-0 cursor-pointer" [(ngModel)]="chart" (ngModelChange)="onChartChange()">
            @for (option of ddItems; track option.value;) {
              <option [value]="option.value">{{option.text}}</option>
            }
          </select>
        </div>
        <div class="chart-content">
          @switch (chart()) {
            @case ('favTags') { <app-fav-tags-chart /> }
            @case ('favSubjects') { <app-fav-subjects-chart /> }
            @case ('favGenres') { <app-fav-genres-chart /> }
            @case ('favAuthor') { <app-fav-author-chart /> }
            @case ('ratingVsPageCount') { <app-rating-page-count-chart /> }
            @case ('ratingVsYear') { <app-rating-year-chart /> }
            @case ('ratingVsYearPublished') { <app-rating-year-published-chart /> }
            @case ('favGenresPerYear') { <app-fav-genres-per-year /> }
          }
        </div>
      </div>
    }
  </div>
</div>
