<div class="my-2">
  Which genres have the highest ratings. Check sidebar to import genres.
</div>
<div class="flex flex-row gap-5">
  <div class="pb-4">
    <span class="text-sm">Sort by: </span>
    <select [(ngModel)]="sortBy"
      class="font-bold">
      <option value="myRatings">My Ratings</option>
      <option value="avgRatings">Average Ratings</option>
      <option value="amountOfBooks">Amount of Books</option>
    </select>
  </div>
  <div class="pl-4">
    <span class="text-sm">Show above amount: </span>
    <input type="number"
      min="1"
      class="font-bold"
      [(ngModel)]="lowerLimit"
      placeholder="Minimum 1">
  </div>
</div>
<div class="chart-content">
  <app-vertical-bar-chart 
    attribute="genres" 
    [lowerLimit]="lowerLimit"
    [sortBy]="sortBy"
  >
  </app-vertical-bar-chart>
</div>
