/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/OpenSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/font/OpenSans-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/font/OpenSans-Bold.ttf) format('truetype');
  }
}

.btn {
  @apply p-1 px-4 rounded bg-primary transition-colors text-white;

  &:hover {
    @apply bg-darkgray;
  }
}

body {
  @apply text-darkgray;
}
