/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/OpenSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/font/OpenSans-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/font/OpenSans-Bold.ttf) format('truetype');
  }
}

.btn {
  @apply p-1 w-full text-left px-5 rounded bg-primary transition-colors text-white cursor-pointer;

  &:hover {
    @apply bg-darkgray;
  }

  &.btn-outline {
    @apply bg-white border border-white text-darkgray;

    &:hover {
      @apply bg-primary text-white;
    }
  }
}

html, body {
  @apply text-darkgray h-full m-0 p-0 font-sans;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}