/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/OpenSans-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/font/OpenSans-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: light;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/font/OpenSans-Bold.ttf) format('truetype');
  }
}

.btn {
  @apply py-1.5 text-left px-5 rounded-lg bg-primary transition-colors text-white cursor-pointer;

  &.block {
    @apply w-full;
  }

  &:hover {
    @apply bg-darkgray;
  }

  &.btn-white {
    @apply bg-white text-primary border border-primary;

    &:hover {
      @apply bg-primary text-white;
    }
  }
  
  &.btn-outline {
    @apply bg-transparent border border-primary text-primary;

    &:hover {
      @apply bg-primary text-white border border-primary;
    }
  }

  &.btn-transparent {
    @apply bg-transparent text-primary;
  }
}

html, body {
  @apply text-darkgray h-full m-0 p-0 font-sans;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

h2 {
  @apply text-2xl mb-2;
}

h3 {
  @apply text-xl mb-1;
}